* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    background: rgb(235, 235, 235);
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-color: #845EC2;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ol li {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 20px;
}

li a {
    color: #00C9A7;
}

.notlogin {
    text-align: center;
}

button {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #5dab9d;
    border-radius: 5px;
    box-shadow: rgb(77, 128, 118) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

button::before {
    content: "";
    background-color: #00C9A7;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 600ms ease-in-out;
    display: inline-block;
}

button:hover::before {
    width: 100%;
}
